:root {
    --color-main-green: hsl(75, 94%, 57%);
    --color-main-white: hsl(0, 0%, 100%);
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 95vh;
    color: var(--color-main-white);
    background: var(--color-grey-900);
    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    background: var(--color-grey-800);
    min-height: 580px;
    border-radius: 15px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figure img {
    height: 8rem;
    border-radius: 100px            ;
}

figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure figcaption p {
    color: var(--color-main-green);
}

.links-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.links-area a {
    color: var(--color-main-white);
    text-decoration: none;
    background: var(--color-grey-700);
}